<div id="main_container">
    <div class="speechTitle" id="page_title">We the People</div>
    <div class="summary">Listen to unrecorded speeches from U.S. history as recreated by <a href="http://www.mturk.com">Mechanical Turkers</a></div>
    <!--<table cellspacing="10" align="center">
      <tr class="speechGiver">
        <th>Speaker</th>
        <th>Title</th>
        <th>Location</th>
        <th>Date</th>
      </tr>-->

    <% @speeches.each do |speech| %>
      <div class="speech">
        <div class="speechGiver"><%= speech.speaker %></div>
        <div class="speechTitle"><%= link_to speech.title, speech %></div>
        <div><%= speech.location %></div>
        <div><%= speech.date %></div>
      </div>
    <% end %>
    
</div>
