<h1 class="speechTitle">About We the People</h1>

<p>We the People lets visitors listen to important unrecorded speeches from U.S. history as recreated on a per-word basis by users of Amazon Mechanical Turk.</p>
<p>Each word was recorded by an individual "Turker" in exchange for a small fee. We the People recreates the speech by tying together the individual word recordings into the whole speech. The same recordings are used every time the word occurs in any speech.</p>

<h1 class="speechTitle">About Samuel Henry</h1>
<p>Samuel Henry is a graduate student in computer science at the University of Chicago.</p>
<a href="http://www.samueljameshenrythefirst.com">samueljameshenrythefirst.com</a>

<!--<%= link_to 'New Speech', new_speech_path %>-->
