<div id="main_container">
	<h3 class="speechTitle">About We the People</h3>

	<p>We the People lets visitors listen to unrecorded speeches from U.S. history as recreated on a per-word basis by users of <a href="http://www.mturk.com">Amazon Mechanical Turk.</a></p>
	<p>Each word was recorded by an individual "Turker" in exchange for a fee. We the People recreates the speech by tying together the individual word recordings into the whole speech. The same recordings are used every time the word occurs in any speech. As words continue to be recorded, the speeches will become complete.</p>

	<h3 class="speechTitle">About Samuel Henry</h3>
	<p>Samuel Henry created We the People (with help from over 70 Turkers so far) in Winter 2013.</p>
	<p><a href="http://www.samueljameshenrythefirst.com">samueljameshenrythefirst.com</a></p>
	
</div>