/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 .speechTitle, #title_wikipedia {
 	color: #A10B0B;
 }

 #title_wikipedia:hover {
 	color: #BF0A30;
 }

 .speechGiver, #speaker_wikipedia {
 	color: #002868;	
 }

 #speaker_wikipedia:hover {
 	color: #0011CF;
 }

 .summary, .informational {
 	font-style: italic;
 	font-size: 15px;
 }

 .informational {
 	max-width: 50%;
	margin-bottom: 25px;
 }

 #page_title {
 	font-size: 60px;
 	margin-top: 3%;
 }

 .navigation {
	font-size: 16px;
	background-color: #E4E4E7;
	padding: 10px;
	border-bottom: 3px black solid;
	border-top: 2px black solid;
	position: fixed;
	z-index: 1;
	top: 0px;
	left: 0px;
	width: 100%;
 }

 .navigation a {
 	margin-right: 15px;
 }

 .navigation a:hover {
 	margin-right: 15px;
 	color: #A10B0B;
 }

  .spokenWord {
 	color: #BF0A30;
 }

 td a {
 	text-decoration: underline;
 }

 #main_container {
 	margin-left: 10%;
 	margin-right: 5%;
 	margin-top: 50px;
 }

.speech {
	float: left;
	padding: 2%;
	margin-right: 2%;
	margin-top: 10px;
	margin-bottom: 15px;
	background-color: #e4e4e4;
	min-width: 140px;
	max-height: 145px;
	max-width: 300px;
	min-height: 150px;
	padding-top: 30px;
 }

 div.speechTitle a {
 	text-decoration: underline;
 }

 div.speechGiver {
 	font-weight: bold;
 }

 .speechText {
 	float: left; 
 	margin-bottom: 10%;
 }